<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleName" class="form-label">Tên người dùng</label>
        <input type="username" class="form-control" id="exampleName">
      </div>

      <div class="mb-3">
        <label for="exampleAddress" class="form-label">Địa chỉ</label>
        <input type="address" class="form-control" id="exampleAddress">
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Nam</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Nữ</label>
      </div>
    

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Quyền người dùng</label>
    </div>
    <button type="submit" class="btn btn-primary">Tạo người dùng</button>
  </form>