<div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
  <h1>Header</h1>
  <!-- <img class="me-3" src="/docs/5.0/assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38"> -->
  <div class="lh-1">
    <h1 class="h6 mb-0 text-white lh-1">
  </div>
</div>
