<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body class="container">

<header>
    <%- include('header'); %>
</header>

<main>
    <div class="container mt-4">
        <% if (data.page) { %>
            <% var value = data.page %>
            <%- include("../fe/" + value) %>
        <% } else { %>
            <!-- Xử lý khi data không tồn tại -->
            <p>Data không tồn tại hoặc không có trang được xác định.</p>
        <% } %>
   </main>

<footer>
    <%- include('footer'); %>
    
</footer>

</body>
</html>